body{
  background-color: #48466D;
  font-size: 18px;
  /* padding:15px; */
  color:#000000;
}

/* Header Styling */

header {
  background-color: #fff;

  color:#48466D;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom:20px;
  padding:0;
}

#header-box {
  display: flex;
  width:90%;
  column-gap: 20px;
  padding:15px;
  margin:auto;
}

#header-box img {
  border: 5px solid #3D84A8;
}

header h1 {
  font-size: 2em;
  text-transform: uppercase;
}

header p {
  font-size: 1.25em;
  text-align:left;
}

/* Styling the Main Area */

#main-container {
display:flex;
flex-wrap:row;
margin:20px;
}

#main-content-area {
  width:90%;
  background-color: #3D84A8;
  /* background-image: url('assets/laptop-graphic.png') ; */
  background-position: top right; 
  background-repeat: no-repeat; 
  background-size:cover; 
  margin:30px auto;
  border: 3px solid #ABEDD8;
  box-shadow: 5px 10px;
  padding:1em;
}

.info {
    padding:15px;
    color:#fff;
}

.info h2 {
  display:inline;
}

.info ul {
  list-style-type:square;
  /* display:inline; */
}

.info li {
  display:inline;
  margin-right:5px;
  font-size:1.1em;
  
}

/* Social Media Box */

#social-media-box {
  display:flex;
  flex-wrap: wrap;
  flex-direction:column;
  justify-content: center;
  padding:0.4em;

}

.social-media-item{
  font-size:0.7em;
  background-color: #39579a;
  border: 2px solid #fff;
  border-radius: 15px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding:1em;
  margin:10px;
}

.social-media-item a{
  color:#fff;
  text-decoration: none;
}

.social-media-item a:hover {
  color:#ffff00;
}

/* Styling the Footer */

footer {
  text-align: center;
  margin-top:15px;
}

footer a {
color:#fff;
text-decoration: none;
text-transform: uppercase;
margin:auto;
padding:20px;
}

footer a:hover {
  color:#ffff00;
}
