body{
  background-color: #48466D;
  font-size: 18px;
  /* padding:15px; */
  color:#000000;
}

/* Header Styling */

header {
  background-color: #fff;
  background-image: url('assets/laptop-graphic.png') ;
  background-position: right; 
  background-repeat: no-repeat; 
  background-size:contain; 
  color:#48466D;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom:20px;
  padding:0;
}

#header-box {
  display: flex;
  width:90%;
  column-gap: 20px;
  padding:15px;
  margin:auto;
}

#header-box img {
  border: 5px solid #3D84A8;
}

header h1 {
  font-size: 2em;
  text-transform: uppercase;
}

header h2 {
  font-size: 1.5em;
  text-align:left;
}

/* Main Container Styling  */

#main-container {
  width:90%;
  background-color: #3D84A8;
  margin:30px auto;
  border: 3px solid #ABEDD8;
  box-shadow: 5px 10px;
  padding:1em;
}

/* Social Media Box */

#social-media-box {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid blue;
  padding:0.8em;
  background-color: #48466D;
}

.social-media-item{
  font-size:1.3em;
  background-color: #39579a;
  border: 2px solid #fff;
  border-radius: 15px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding:1em;
  margin:10px;
}

.social-media-item a{
  color:#fff;
  text-decoration: none;
}

.social-media-item a:hover {
  color:#ffff00;
}

/* Styling the Footer */

footer {
  text-align: center;
  margin-top:15px;
}

footer a {
color:#fff;
text-decoration: none;
text-transform: uppercase;
margin:10px;
padding:10px;
}

footer a:hover {
  color:#ffff00;
}
